body {
  background-color: #303030;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  flex: 1;
}

header {
  padding-top: 1.5rem;
  min-height: 100svh;
  min-height: 100vh;
}

.logo {
  width: 100px;
}
.logo img {
  border-radius: 100%;
}

nav {
  justify-content: space-between;
}

.nav__list {
  gap: 2rem;
}
.nav__list__primary {
  justify-content: flex-end;
}
.nav__list__secondary {
  justify-content: flex-end;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  opacity: 0.8;
}
.nav__link:hover {
  opacity: 1;
}

.section {
  padding-top: 2rem;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 700px) {
  .section-title {
    font-size: 4rem;
  }
}

.section-one p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.section-one p span {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  box-shadow: 0 0 5px purple;
}

@media (min-width: 700px) {
  .section-one__buttons {
    width: 60%;
    margin: 0 auto;
  }
}

.section-one__buttons > a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.7rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 100px;
  color: #fff;
  border: 2px solid #fff;
}
.section-one__buttons > a:hover {
  box-shadow: 0px 0px 20px #fff;
  background-color: purple;
}

.section-two {
  background-color: #2c133a;
  min-height: 100svh;
  min-height: 100vh;
}

.section-two__cards-container {
  padding: 1rem;
}
@media (min-width: 700px) {
  .section-two__cards-container {
    display: flex;
  }
}

.section-two__card {
  border: 2px solid purple;
  box-shadow: 0 0 10px rgb(231, 3, 170);
  margin-bottom: 1rem;
  transform: scale(1);
  transition: transform ease-in-out 0.15s;
}
.section-two__card:hover {
  transform: scale(1.05);
}

.section-two__card__image img {
  width: 100%;
}

.section-three hr {
  width: 80%;
}

.section-three__form {
  margin-bottom: 3rem;
}
.section-three__form label, .section-three__form input, .section-three__form textarea {
  display: block;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .section-three__form label, .section-three__form input, .section-three__form textarea {
    font-size: 2rem;
  }
}
.section-three__form label {
  text-align: center;
  margin-bottom: 2rem;
}

.section-three__form__buttom button {
  display: block;
  margin: 1rem auto;
}
.section-three__form__buttom button:hover {
  background-color: #303030;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 0 0 10px #fff;
}
@media (min-width: 700px) {
  .section-three__form__buttom button {
    font-size: 1.5rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.cards .empty-grid-message {
  text-align: center;
  grid-column: span 2;
}
@media (min-width: 700px) {
  .cards .empty-grid-message {
    grid-column: span 3;
  }
}

.card {
  border: 2px solid #fff;
  box-shadow: 0 0 10px #fff;
  margin-top: 2rem;
  text-align: center;
}

.card__title {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.card__image {
  width: 100%;
}

.card__description {
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.card-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
}

footer {
  text-align: center;
}
footer p {
  margin-top: 100%;
}

/*# sourceMappingURL=style.css.map */
